<style>
    #los {
        padding: 5px;
    }
</style>

<div style="background-color: none">
    <form class="flex-container">
        <fieldset height="100%">
            <legend>&nbsp;Persoonlijke Gegevens&nbsp;</legend>

            <div id="los">@Curriculum.Voornaam @Curriculum.Tussenvoegsel @Curriculum.Achternaam</div>
            <div id="los">@Curriculum.Adres</div>
            <div id="los">@Curriculum.Postcode @Curriculum.Woonplaats</div>
            <div id="los"><img src="tootsie-1.jpg" alt="sss" /> @*@Curriculum.Foto*@</div>
            <div id="los">@Curriculum.Leeftijd jaar</div>
            <div id="los">@Curriculum.Telefoon</div>
            <div id="los">@Curriculum.Email</div>

        </fieldset>
    </form>
</div>


@code {
    [CascadingParameter]
    public Curriculum Curriculum { get; set; }

    [CascadingParameter]
    public XMLData XmlData { get; set; }


}